<div class="mt-4">
  <h3>Mettre à jour l'Offre</h3>
  <form [formGroup]="offerForm" (submit)="updateOffer()" class="form-inline mb-4" ngNativeValidate>

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input required  type="text" class="form-control" formControlName="name" placeholder="Nom De l'Employé">
    </div>

    <label class="sr-only" for="VilleD">ville depart</label>
    <div class="input-group mb-2 mr-sm-2">
      <input required  type="text" class="form-control" formControlName="villeD" placeholder="Ville De Départ">
    </div>

    <label class="sr-only" for="VilleA">ville arrive</label>
    <div class="input-group mb-2 mr-sm-2">
      <input required  type="text" class="form-control" formControlName="villeA" placeholder="Ville D'arrivée">
    </div>

    <label class="sr-only" for="dateO">date de loffre</label>
    <div class="input-group mb-2 mr-sm-2">
       <input   required  formControlName="dateO" class="form-control" type="date" id="dateO" >

    </div>

    <button type="submit" class="btn btn-primary mb-2" id ="maj">Mettre à jour l'offre</button>

  </form>
</div>
