<div class="mt-4">
  <h3>Edit Offer</h3>
  <form [formGroup]="offerForm" (submit)="updateOffer()" class="form-inline mb-4">

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <label class="sr-only" for="VilleD">ville depart</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="villeD" placeholder="ville depart">
    </div>

    <label class="sr-only" for="VilleA">ville arrive</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="villeA" placeholder="ville arrive">
    </div>

    <label class="sr-only" for="dateO">date de loffre</label>
    <div class="input-group mb-2 mr-sm-2">
      <select formControlName="dateO" class="form-control">
        <option>Basic</option>
        <option>Pro</option>
        <option>Platinum</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Update Offer</button>

  </form>
</div>
