<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h3>Manage les Employés</h3>
					</div>

				</div>
			</div>
<label class="sr-only" for="Name">Name</label>
<div class="input-group mb-2 mr-sm-2">
  <input type="text" class="form-control" [(ngModel)]="search" placeholder="Rechercher nom de l’employé">
</div>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<table class="table table-hover" id="table">
 <thead id="aj">
    <tr>

      <th scope="col">Nom De l'Employé</th>
      <th scope="col" >Prenom</th>
      <th scope="col">Genre</th>
      <th scope="col">AdressMail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let employee of (employees$ |async) | searchemployee:search ">
      <th scope="row">{{employee.nom}}</th>
      <td>{{employee.prenom}}</td>
      <td>{{employee.genre}}</td>
      <td>{{employee.adressMail}}</td>


      <th>
        <a class="add" title="Edit" data-toggle="tooltip"(click)=editEmployee(employee)><i class="material-icons">&#xE254; </i></a>
        <br>
        <a class="delete" title="Delete" data-toggle="tooltip"(click)=deleteEmployee(employee)><i class="material-icons">&#xE872;</i></a>
      </th>
    </tr>
  </tbody>
</table>
