<h3>Offers</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">

      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Membership</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let offer of (offers$ |async)">
      <th scope="row">{{offer.name}}</th>
      <td>{{offer.phone}}</td>
      <td>{{offer.address}}</td>
      <td>{{offer.membership}}</td>
      <th>
        <a (click)=editOffer(offer)>edit</a>
        <br>
        <a (click)=deleteOffer(offer)>delete</a>
      </th>
    </tr>
  </tbody>
</table>
