<h3>Offers</h3>
<label class="sr-only" for="Name">Name</label>
<div class="input-group mb-2 mr-sm-2">
  <input type="text" class="form-control" [(ngModel)]="search" placeholder="nom">
</div>
<table class="table table-hover">

  <thead>
    <tr class="table-primary">

      <th scope="col">Name</th>
      <th scope="col">ville depart</th>
      <th scope="col">ville arrive</th>
      <th scope="col">date offre</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let offer of (offers$ |async) | searchfilter:search ">
      <th scope="row">{{offer.name}}</th>
      <td>{{offer.villeD}}</td>
      <td>{{offer.villeA}}</td>
      <td>{{offer.dateO}}</td>
      <th>
        <a (click)=editOffer(offer)>edit</a>
        <br>
        <a (click)=deleteOffer(offer)>delete</a>
      </th>
    </tr>
  </tbody>
</table>
